# 1. Melon Crawling 

## 멜론 사이트에서 순위, 곡, 가수명 정보 추출, 엑셀로 저장

### 멜론 사이트 접속하기

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('C:/Web_Crawling/chromedriver/chromedriver.exe')
url = 'http://www.melon.com/chart/index.htm'
driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

### 반복문을 이용해 곡, 가수명을 song_data에 저장

In [13]:
song_data = []
rank = 1

songs = soup.select('table>tbody>tr')
for song in songs:
    title = song.select('div.rank01>span>a')[0].text
    singer = song.select('div.rank02>a')[0].text
    song_data.append(['Melon', rank, title, singer])
    rank = rank + 1

### song_data 리스트를 이용해 DataFrame 생성

In [14]:
import pandas as pd

columns = ['Service', 'Rank', 'Title', 'Singer']
pd_data = pd.DataFrame(song_data, columns = columns)
pd_data.head()

  Service  Rank                Title         Singer
0   Melon     1                  신호등            이무진
1   Melon     2               바라만 본다  MSG워너비(M.O.M)
2   Melon     3           Next Level          aespa
3   Melon     4        낙하 (with 아이유)      AKMU (악뮤)
4   Melon     5  Permission to Dance          방탄소년단

### 결과를 엑셀파일로 저장

In [19]:
pd_data.to_excel('C:/Web_Crawling/MiniProject/melon.xlsx', index = False)